<div class="container">

  <div class="row">
    <div class="col-md-12 page-header">
      <h1 class="article-title">
        <% if current_page?(articles_path) %>
          <%= link_to article.title, article %>
        <% else %>
          <%= article.title %>
        <% end %>
        <small>
          by <%= "#{article.user.firstname} #{article.user.lastname[0]}." %>
        </small>
        <small class="pull-right">
          <%= time_ago_in_words(article.created_at) %> ago
        </small>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- .html_safe renders the actual html code within content -->
      <%= article.content.html_safe unless current_page?(articles_path) %>
    </div>
  </div>
</div>
