<!DOCTYPE html>
<html>
  <head>
    <title>TodoMvc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to image_tag('one_ring.jpg', height: 50, alt: 'logo'), root_path %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <!-- <%= render 'nav_link', text: 'Home', path: root_path %> -->
            <%= render 'nav_link', text: 'Articles', path: articles_path %>
            <%= render 'nav_link', text: 'My Lists', path: lists_path %>
            <%= render 'nav_link', text: 'New List', path: new_list_path %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <%= render 'nav_link', text: "Signed in as #{current_user.firstname} #{current_user.lastname[0]}.", path: edit_user_registration_path %>
                <%= render 'nav_link', text: 'Log Out', path: destroy_user_session_path, link_options: {method: :delete} %>
              <% else %>
                <%= render 'nav_link', text: 'Log In', path: new_user_session_path%>
                <%= render 'nav_link', text: 'Sign Up', path: new_user_registration_path %>
              <% end %>
          </ul>
      </div>
      </div>
    </nav>

    <p id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
